Flask
numpy
pandas
setuptools_rust
# Must be same Tensorflow version as model was trained by
# This Tensorflow-CPU wheel is for python 3.9 on linux only
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.8.0-cp39-cp39-manylinux2010_x86_64.whl
transformers
