{% extends 'home.html' %}

{% block content %}
    <h1>{% block title %} Financial News Sentiment Analyser {% endblock %}</h1>
    <form method="post">
        <label for="headline">Headline</label>
        <br>
        <input type="text" name="headline"
            placeholder="Financial News Headline"
            value="{{ request.form['headline'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
    <div id="result">
        The Headline You Entered Was {{headline}}!
    </div>
{% endblock %}
